{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Регистрация{% endblock title%}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/auth_style.css' %}">
<form method="post" id="form">
    {% csrf_token %}

    <div class="container container--reg">

            <h2 class="mb-4">Регистрация</h2>
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger mb-3" role="alert">{{ form.errors }}</div>
            {% endif %}

            <div class="form-floating mb-4">
                {% render_field form.username class="form-control" placeholder="Имя пользователя" type="text" id="username" %}
                <label for="username">Имя пользователя</label>
            </div>

            <div class="form-floating mb-4">
                {% render_field form.email class="form-control" placeholder="Элек. почта" type="email" id="email" %}
                <label for="email">Элек. почта</label>
            </div>

            <div class="form-floating mb-4">
                {% render_field form.first_name class="form-control" placeholder="Имя" type="text" id="name" %}
                <label for="name">Имя</label>
            </div>

            <div class="form-floating mb-4">
                {% render_field form.last_name class="form-control" placeholder="Фамилия" type="text" id="surname" %}
                <label for="surname">Фамилия</label>
            </div>

            <div class="form-floating mb-4">
                {% render_field form.group class="form-control" placeholder="Группа" type="text" id="group" v-model="group" @blur='blur' %}
                <label for="group">Группа</label>
                <p v-if="validate()" class="error">[[validate()]]</p>
            </div>

            <div class="form-floating mb-4">
                {% render_field form.password1 class="form-control" placeholder="Пароль" type="password" id="password" %}
                <label for="password">Пароль</label>
            </div>
            <div class="form-floating mb-4">
                {% render_field form.password2 class="form-control" placeholder="Подтверждение пароля" type="password" id="repeatpassword" %}
                <label for="repeatpassword">Подтверждение пароля</label>
            </div>

            <button :disabled="validate()" class="btn btn-primary" type="submit">Зарегистрироваться</button>

        </div>

</form>
<script src="{% static 'js/vue_framework.js' %}"></script>
<script src="{% static 'js/group_validate.js' %}"></script>
{% endblock content %}