{% extends 'base.html' %}
{% load static %}
{% block title %}Обратная связь{% endblock title %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'css/contact_style.css' %}">{% endblock style %}
{% block message %}

{% if messages %}
<div class="alert none-flex alert-success">
	{% for message in messages %}
		{% if message.tags %} {% endif %} {{ message }}
	{% endfor %}
</div>

{% endif %}

{% endblock message %}
{% block content %}
			<div class="decoration_backround_left">
				<img src="{% static 'img/decoration/backround/atom.png' %}" alt="">
			</div>

			<div class="decoration_backround_right">
				<img src="{% static 'img/decoration/backround/atom.png' %}" alt="">
			</div>
			<div class="form-p">
				<form method="POST">
					<div class="row">
						{% csrf_token %}
						{{ form.error }}
						<div class="col form-floating mb-3">
							{{ form.first_name }}
							<label class="form-pd" for="exampleFormControlInput1">Имя</label>
						 </div>
						<div class="col form-floating mb-3">
							{{ form.last_name }}
							<label class="form-pd" for="exampleFormControlInput1">Фамилия</label>
						 </div>
						<div class="col form-floating mb-3">
							{{ form.group }}
							<label class="form-pd" for="exampleFormControlInput1">Группа</label>
						 </div>
					</div>
					<div class="col form-floating mb-3">
						{{ form.email }}
						<label class="form-pd" for="exampleFormControlInput1">Почта</label>
					</div>
					<div class="col form-floating mb-3">
						{{ form.message }}
						<label class="form-pd" for="exampleFormControlInput1">Обращение</label>
					</div>
					<div class="row-flex">
						<button type="submit" class="btn btn-primary mr-25">Отправить</button>
						<div class="custom-control custom-checkbox float-right">
						  <input type="checkbox" class="custom-control-input" id="customCheck1">
						  <label class="custom-control-label" for="customCheck1"><a href="#">Обработка персональных данных</a></label>
						</div>
					</div>
				</form>
			</div>
{% endblock content %}