{% extends 'base.html' %}
{% load static %}
{% block title %}ОГЭ{% endblock title %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'css/oge_ege_style.css' %}">{% endblock style %}
{% block content %}
            <div class="formul-one">
                <img src="{% static 'img/decoration/10.png' %}">
            </div>
            <div class="formul-three">
                <img src="{% static 'img/decoration/40.png' %}">
            </div>
            <section class="oge-variants">
                <div class="ov-header">
                    <h3 class="title">Тренировочные варианты</h3>
                </div>
                <p class="text-ov">Вы можете скачать тренировочные варианты здесь.</p>
                <div class="ov-grid">
                    {% for variant in VariantEge %}
                        <a class="var" href="http://127.0.0.1:8000/media/{{ variant.file_ege }}"><span class="var-word">Вариант&nbsp</span>{{ variant.title_ege }}</a>
                    {% endfor %}
                </div>
            </section>
            <section class="oge-theme">
                <div class="ov-header">
                    <h3 class="title">Тема</h3>
                </div>
                <div class="ot">
                    <details class="warning">
                        <summary><b>Программа блока Алгебра</b></summary>
                        {% for algebra in BlockAlgebraEge %}
                            <p><a href="http://127.0.0.1:8000/media/{{ algebra.file_algebra_ege }}">{{ algebra.title_algebra_ege }}</a></p>
                        {% endfor %}
                      </details>
                      
                      <details class="info">
                        <summary><b>Программа блока Геометрия</b></summary>
                        {% for geometria in BlockGeometriaEge %}
                            <p><a href="http://127.0.0.1:8000/media/{{ geometria.file_geometria_ege }}">{{ geometria.title_geometria_ege }}</a></p>
                        {% endfor %}
                      </details>
                </div>
            </section>
{% endblock content %}