{% extends 'base.html' %}
{% load static %}
{% block title %}Методические указания{% endblock title %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'css/metodic_style.css' %}">{% endblock style %}
{% block content %}
    <div class="container container--metodic">
        {% for article in object_list %}
            <div class="card">
                <a href="http://127.0.0.1:8000/media/{{ article.file }}">{{ article.title }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}