{% extends 'base.html' %}
{% load static %}
{% block title %}Видео урок {{ object.title }} {% endblock title %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'css/video_style.css' %}">{% endblock style %}
{% block content %}
    <div class="container container--lesson">
        <h2 class="lesson-title">{{ object.title }}</h2>
        <p class="lesson-desc">{{ object.body }}</p>
        <video class="lesson-video" controls >
            <source src="http://127.0.0.1:8000/media/{{ object.video }}">
        </video>
    </div>

{% endblock content %}