{% extends 'base.html' %}
{% load static %}
{% block title %}Видео уроки 2 курса {% endblock title %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'css/video_style.css' %}">{% endblock style %}
{% block content %}
    <div class="container container--video">
        {% for article in object_list %}
            <div class="card">
                <div class="card-header">
                    <h2 class="font-weight-bold">{{ article.title }}</h2>
                </div>
                <div class="card-body">
                    <!-- Changes start here! -->
                    <a href="{% url 'otv_detail' article.pk %}">Ссылка на урок</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}